.error {
    color: red;
}

body {
    background-color: rgb(245, 242, 245);
    font-family: Tahoma;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

form {
    background-color:rgb(39, 42, 71);
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

fieldset {
    border: none;
    padding: 2rem 0;
}

legend {
    
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

input,
textarea {
    border: 1px solid rgb(208, 235, 196);
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: black;
    border-color: rgb(124, 177, 247);
    min-width: 300px;
  }

  input[type="submit"]:hover {
    background-color: rgb(193, 247, 177);
    color: white;
  }